body {
  font-family: Poppins;
}
:root {
  --accent-color: #ef3959;
  --title-color: #202053;
  --subtitle-color: #4a86ff;
  --text-color: #404040;
  --button-text-color: #ffffff;
}
.header-house {
  color: var(--title-color, #202053);
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
}
.header-slogan {
  color: var(--title-color, #202053);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.header-link {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.header-switcher {
  color: var(--title-color, #202053);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.header-language {
  color: var(--title-color, #202053);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.header_button {
  color: var(--button-text-color, #fff);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.header_button {
  width: 213px;
  height: 76px;
  padding: 16px 32px;
}
.header_button {
  border-radius: 25px;
  background: var(--accent-color, #ef3959);
  box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
}
.hero-title {
  color: var(--title-color, #202053);
  font-size: 64px;
  font-weight: 800;
  line-height: 130%;
}
.hero-text {
  color: var(--text-color, #404040);
  font-weight: 500;
  line-height: 150%;
}
.hero-button {
  color: var(--button-text-color, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
}
.hero-button {
  width: 328px;
  height: 102px;
  padding: 16px 32px;
}
.hero-button {
  border-radius: 25px 25px 25px 0px;
  background: var(--accent-color, #ef3959);
  box-shadow: 0px 0px 40px 0px rgba(239, 57, 89, 0.4);
}
.hero-photo {
  width: 538px;
  height: 680px;
}
.about-photo {
  width: 532px;
  height: 608px;
}
.about-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.about-text {
  color: var(--text-color, #404040);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.friend-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.friend-text {
  color: var(--text-color, #404040);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.friend-photo {
  width: 370px;
  height: 350px;
}
.friend-name {
  color: var(--title-color, #202053);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.friend-age {
  color: var(--text-color, #404040);
  font-size: 24px;
  font-weight: 500;
}
.friend-button {
  color: var(--accent-color, #ef3959);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
}
.friend-button {
  width: 442px;
  height: 102px;
  padding: 21px 82px;
}
.conditions-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.conditions-subtitle {
  color: var(--Blue, #4a86ff);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.conditions-text {
  color: var(--Bleck-Typography, #404040);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.conditions-photo {
  width: 417px;
  height: 376px;
}
.condtions-photo:nth-child(2) {
  width: 374px;
  height: 378px;
}
.location-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.contacts-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.contacts-text {
  color: var(--title-color, #202053);
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
}
.contacts-subtitle {
  color: var(--Blue, #4a86ff);
  font-size: 30px;
  font-weight: 500;
}
.contacts-link {
  color: var(--title-color, #202053);
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
}
.contacts-photo {
  width: 624px;
  height: 400px;
}
.help-title {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  line-height: 130%;
}
.help-subtitle {
  color: var(--title-color, #202053);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}
.help-text {
  color: var(--Bleck-Typography, #404040);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.help-button {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  width: 442px;
  height: 102px;
  padding: 16px 32px;
}
.footer-word {
  color: var(--title-color, #202053);
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
}
.footer-slogan {
  color: var(--title-color, #202053);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.footer-proposition {
  color: var(--title-color, #202053);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.footer-link {
  color: var(--title-color, #202053);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.footer-description {
  color: var(--Bleck-Typography, #404040);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
